[submodule "libs/IoTKafkaUtils"]
	path = libs/IoTKafkaUtils
	url = https://github.com/IoT-Hub-Alpha/kafka-consumer-producer-lib
[submodule "services/DB-telemetry-writer"]
	path = services/DB-telemetry-writer
	url = https://github.com/IoT-Hub-Alpha/DB-Writer-Service
