[submodule "services/mqtt-ingest"]
	path = services/mqtt-ingest
	url = https://github.com/IoT-Hub-Alpha/mqtt-ingest
[submodule "libs/IoTKafkaUtils"]
	path = libs/IoTKafkaUtils
	url = https://github.com/IoT-Hub-Alpha/kafka-consumer-producer-lib
[submodule "services/DB-telemetry-writer"]
	path = services/DB-telemetry-writer
	url = https://github.com/IoT-Hub-Alpha/DB-Writer-Service
[submodule "services/Kafka-Service"]
	path = services/Kafka-Service
	url = https://github.com/IoT-Hub-Alpha/Kafka-Service
[submodule "services/notification-api"]
	path = services/notification-api
	url = https://github.com/IoT-Hub-Alpha/notification-api
