DB_WRITER_KAFKA_CLIENT_ID=db_writer
DB_WRITER_LATENCY_MS = 1000
DB_WRITER_BATCH_SIZE = 0
DB_WRITER_MAX_BUFFER_SIZE = 5000
DB_WRITER_MAX_FLUSH_ATTEMPTS = 3
DB_WRITER_SAFETY_SLEEP = 0.1
DB_INSERT_BATCH_SIZE = 1000
DB_WRITER_CELERY_TIMEOUT_MIN = 1

DB_WRITER_DEBUG = true
KAFKA_TOPIC_TELEMETRY_CLEAN=telemetry.clean
KAFKA_TOPIC_TELEMETRY_DQL=telemetry.dlq

TELEMETRY_DB_NAME=iot_hub_telemetry_db
TELEMETRY_DB_USER=postgres
TELEMETRY_DB_PASSWORD=postgres
TELEMETRY_DB_HOST=telemetry-db
TELEMETRY_DB_PORT=5432
TELEMETRY_DB_CONNECT_TIMEOUT=10