DB_WRITER_KAFKA_CLIENT_ID=db_writer
DB_WRITER_LATENCY_MS = 1000
DB_WRITER_BATCH_SIZE = 0
DB_WRITER_MAX_BUFFER_SIZE = 5000
DB_WRITER_MAX_FLUSH_ATTEMPTS = 3
DB_WRITER_SAFETY_SLEEP = 0.1
DB_INSERT_BATCH_SIZE = 1000
DB_WRITER_CELERY_TIMEOUT_MIN = 1

DB_WRITER_DEBUG = true
DJANGO_SECRET_KEY=WeP1DbqUCJVVooB09GZLfajXvy036zIyi"lp.Je8$_n<!,x_%77K5@GCZ
KAFKA_TOPIC_TELEMETRY_CLEAN=telemetry.clean
KAFKA_TOPIC_TELEMETRY_DQL=telemetry.dlq